.CurrencySelect {
  background-color: #EEF2F2;
  height: 60px;
  width: 136px !important;
  border-radius: 0 5px 5px 0;  
  > div.ant-select-selector {
    height: 60px !important;
  }
  &.ant-select-show-arrow .ant-select-selection-item {
    padding-right: 18px;
  }
  .ant-select-arrow {
    font-size: 18px;
    width: 18px;
    height: 18px;
    top: 50%;
    color: #B8BCBC;
    .anticon:not(.anticon-down) {
      pointer-events: none !important;
    }
  }
  &:hover {
    .ant-select-arrow {
      color: rgba($color: #fff, $alpha: 0.85);
    }
  }
}

.CurrencySelect__options {
  background-color: #EEF2F2;
  .ant-select-item-option-active {
    background-color: rgba($color: #fff, $alpha: 0.4);
  }
  .ant-select-item-option-selected {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
}

.CurrencySelect__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  &__title {
    font-size: 12px;
    line-height: 16px;
  }
  &__content {
    display: flex;
    align-items: center;
    font-size: 26px;
    line-height: 30px;
  }
  .Icon {
    &__tokenIcon {
      width: 20px;
      margin-right: 8px;
    }
  }
}